.ant-typography.button-text {
  color: white;
  font-size: 10px;
}

.ant-btn.btn.custom-btn {
  padding: 0 5px;
}

.ant-image .ant-image-img.details-img {
  width: 225px;
  border-radius: 15px;
}

.trailer {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 20px;
}

.ant-image .ant-image-img.cast-img {
  width: 100%;
  min-height: 300px;
  border-radius: 15px;
}

.ant-space.ant-space-vertical.cast-space {
  text-align: start;
  width: 200px;
}

@media screen and (min-width: (400px)) {
  .ant-image .ant-image-img.details-img {
    width: 300px;
  }

  .trailer {
    height: 300px;
  }

  .ant-btn.btn.custom-btn {
    padding: 0 10px;
  }

  .ant-typography.button-text {
    font-size: 12px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 375px;
  }
  
  .ant-space.ant-space-vertical.cast-space {
    width: 250px;
  }
}

@media screen and (min-width: (500px)) {
  .ant-image .ant-image-img.details-img {
    width: 350px;
  }

  .ant-btn.btn.custom-btn {
    padding: 4px 15px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 450px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 300px;
  }

  .ant-typography.button-text {
    font-size: 14px;
  }
}

@media screen and (min-width: (576px)) {
  .ant-btn.btn.custom-btn {
    padding: 0 5px;
  }

  .ant-typography.button-text {
    font-size: 10px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 300px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 200px;
  }
}

@media screen and (min-width: (650px)) {
  .ant-image .ant-image-img.details-img {
    width: 400px;
  }

  .ant-btn.btn.custom-btn {
    padding: 0 10px;
  }

  .ant-typography.button-text {
    font-size: 12px;
  }

  .trailer {
    height: 350px;
  }
}

@media screen and (min-width: (700px)) {
  .ant-btn.btn.custom-btn {
    padding: 4px 15px;
  }

  .ant-typography.button-text {
    font-size: 14px;
  }

  .ant-image .ant-image-img.details-img {
    width: 450px;
  }

  .trailer {
    height: 400px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 375px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 250px;
  }
}

@media screen and (min-width: (755px)) {
  .ant-image .ant-image-img.details-img {
    width: 500px;
  }
}

@media screen and (min-width: (768px)) {
  .ant-space.ant-space-vertical.cast-space {
    width: 200px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 300px;
  }
}

@media screen and (min-width: (807px)) {
  .ant-image .ant-image-img.details-img {
    width: 250px;
  }

  .trailer {
    height: 300px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 140px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 210px;
  }
}

@media screen and (min-width: (950px)) {
  .trailer {
    height: 350px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 262px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 175px;
  }
}

@media screen and (min-width: (992px)) {
  .ant-space.ant-space-vertical.cast-space {
    width: 140px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 210px;
  }
}

@media screen and (min-width: (1050px)) {
  .trailer {
    height: 400px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 160px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 240px;
  }
}

@media screen and (min-width: (1200px)) {
  .ant-image .ant-image-img.details-img {
    width: 400px;
  }
}

@media screen and (min-width: (1400px)) {
  .ant-image .ant-image-img.details-img {
    width: 450px;
  }

  .trailer {
    height: 500px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 200px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 300px;
  }
}

@media screen and (min-width: (1600px)) {
  .ant-image .ant-image-img.details-img {
    width: 550px;
  }

  .trailer {
    height: 600px;
  }

  .ant-space.ant-space-vertical.cast-space {
    width: 140px;
  }

  .ant-image .ant-image-img.cast-img {
    min-height: 210px;
  }
}